<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: header"><title th:text="${title}"></title></head>
<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    <ul th:replace="fragments :: sidebar"></ul>
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <nav th:replace="fragments :: topbar"></nav>
            <div class="container-fluid">
                <div th:if="${success}" class="text-center alert alert-success">
                    <p th:text="${success}"></p>
                </div>
                <div th:if="${fail}" class="text-center alert alert-danger">
                    <p th:text="${fail}"></p>
                </div>
                <form class="form-horizontal" th:action="@{/add-product}" method="post" enctype="multipart/form-data" th:object="${productNew}">
                    <fieldset>
                        <!-- Form Name -->
                        <legend>ADD PRODUCT</legend>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="product_name">Name: </label>
                            <div class="col-md-4">
                                <input id="product_name" th:field="*{name}"
                                       name="product_name" class="form-control input-md" placeholder="Enter product name" type="text">
                            </div>
                        </div>
                        <!-- Select Basic -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="categories">Product Category: </label>
                            <div class="col-md-4">
                                <select id="categories" th:field="*{category}" name="categories" class="form-control">
                                    <option th:value="null">-SELECT-</option>
                                    <option th:each="category : ${categories}"
                                            th:value="${category.id}" th:text="${category.name}"></option>
                                </select>
                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="description">Description: </label>
                            <div class="col-md-4">
                                <input id="description" th:field="*{description}"
                                       name="description" class="form-control input-md" placeholder="Enter product description" type="text">
                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="available_quantity">Available quantity: </label>
                            <div class="col-md-4">
                                <input id="available_quantity" th:field="*{currentQuantity}"
                                       name="available_quantity" class="form-control input-md" min="0" value="0" type="number">
                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="price">Price: </label>
                            <div class="col-md-4">
                                <input id="price" name="price" th:field="*{costPrice}"
                                       class="form-control input-md" step="0.01" min="0.00" value="0.00" type="number">
                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                                <!-- File Button -->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="imageProduct">Image product: </label>
                                    <div class="col-md-4">
                                        <input id="imageProduct" name="imageProduct"
                                               class="input-file" type="file" accept=".png, .jpeg, .jpg">
                                    </div>
                            </div>
                        </div>
                    </fieldset>
                    <button type="button" class="btn btn-secondary" onclick="window.location.href='/admin/products/0'">Return to products</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
                </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->
        <!-- Footer -->
        <footer th:replace="fragments :: footer"></footer>
        <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<a th:replace="fragments :: scroll"></a>
<!-- Logout Modal-->
<!-- Bootstrap core JavaScript-->
<div th:replace="fragments :: script"></div>
<script th:src="@{/js/categories.js}"></script>
</body>
</html>