<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments :: header">
</head>
<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <ul th:replace="fragments :: sidebar">
    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav th:replace="fragments :: topbar"></nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Page Heading -->
                <div th:if = "${size == 0}">
                    <p>No products in shop</p>
                </div>
                <div th:if="${success}" class="text-center alert alert-success">
                    <p th:text="${success}"></p>
                </div>
                <div th:if="${failed}" class="text-center alert alert-danger">
                    <p th:text="${failed}"></p>
                </div>
                <button type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#addProductModal" data-whatever="@mdo">Add new product</button>
                <table class="table table-striped" th:if = "${size > 0}">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Category</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Image</th>
                        <th scope="col">Update</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each = "product : ${products}">
                        <th scope="row" th:text = "${product.name}"></th>
                        <td th:text = "${product.category.name}"></td>
                        <td th:text = "${product.costPrice} + ' $'"></td>
                        <td th:text = "${product.currentQuantity}"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer th:replace="fragments :: footer">
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a th:replace="fragments :: scroll"></a>

<!-- Add Product Modal -->
<div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="addProductModalLabel" aria-hidden="true">
    <form class="form-horizontal" th:action="@{/add-product}" method="post"
          enctype="multipart/form-data" th:object="${product}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addProductModalLabel">Add Product</h5>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="nameEdit" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="nameEdit" name="name" />
                    </div>

                    <div class="form-group">
                        <label for="categoryEdit" class="col-form-label">Product Category:</label>
                        <select id="categoryEdit" th:field="*{category}" name="categories" class="form-control">
                            <option th:value="null">-SELECT-</option>
                            <option th:each="category : ${categories}"
                                    th:value="${category.id}" th:text="${category.name}"></option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="descriptionEdit" class="col-form-label">Description:</label>
                        <input type="text" class="form-control" id="descriptionEdit" name="description" />
                    </div>

                    <div class="form-group">
                        <label for="quantityEdit" class="col-form-label">Available quantity:</label>
                        <input type="number" class="form-control" id="quantityEdit" name="currentQuantity" min="0" value="0"/>
                    </div>

                    <div class="form-group">
                        <label for="priceEdit" class="col-form-label">Price:</label>
                        <input type="number" class="form-control" id="priceEdit" name="costPrice" step="0.01" min="0.00" value="0.00"/>
                    </div>

                    <div class="form-group">
                        <label for="imageProductEdit" class="col-form-label">Image product:</label>
                        <div class="form-group">
                            <input id="imageProductEdit" name="imageProduct" class="input-file" type="file" accept=".png, .jpeg, .jpg"/>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- Bootstrap core JavaScript-->
<div th:replace="fragments :: script"></div>
<script th:src="@{/js/categories.js}"></script>
<script th:src="@{/js/products.js}"></script>

</body>

</html>