<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments::header}"><title th:text="${title}"></title>
</head>
<body id="page-top">
<div id="wrapper">
    <ul th:replace="~{fragments::sidebar}"></ul>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <nav th:replace="~{fragments::topbar}"></nav>
            <div class="container-fluid">
                <div>
                    <form th:action="@{/search-result/0}" method="get">
                        <label for="search"></label><input type="text"
                                                           id="search"
                                                           name="keyword"
                                                           placeholder="Enter name or description">
                        <button type="submit" class="btn btn-primary">Search
                        </button>
                    </form>
                </div>
                <br>
                <!-- Page Heading -->
                <div th:if="${size == 0}">
                    <p>No products in shop</p>
                </div>
                <div th:if="${success}" class="text-center alert alert-success">
                    <p th:text="${success}"></p>
                </div>
                <div th:if="${fail}" class="text-center alert alert-danger">
                    <p th:text="${fail}"></p>
                </div>
                <a class="btn btn-primary" th:href="@{/add-product}">Add new
                    product</a><br>
                <table class="table table-striped" th:if="${size > 0}">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Category</th>
                        <th scope="col">Description</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Image</th>
                        <th scope="col">Update</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="product : ${products}">
                        <th scope="row" th:text="${product.name}"></th>
                        <td th:text="${product.category.name}"></td>
                        <td th:text="${product.description}"></td>
                        <td th:text="${product.costPrice}"></td>
                        <td th:text="${product.currentQuantity}"></td>
                        <td><img src="data:image/jpeg;base64,"
                                 style="height: 55px; width: 55px;"
                                 th:attrappend="src=${product.image}"
                                 alt="image"/></td>
                        <td>
                            <a th:href="@{/update-product/{id} (id = ${product.id})}"
                               class="btn btn-primary">Update</a></td>
                        <td>
                            <a th:if="${!product.isActivated}"
                               th:href="@{/enable-product/{id}(id=${product.id})}"
                               class="btn btn-warning">Enable</a>
                            <a th:if="${!product.isDeleted}"
                               th:href="@{/delete-product/{id}(id=${product.id})}"
                               class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li th:if="${currentPage != 0}" class="page-item">
                            <a th:href="@{'/products/' + ${currentPage - 1}}"
                               class="page-link" href="#">Previous</a>
                        </li>
                        <li th:each="i : ${#numbers.sequence(1, totalPages)}"
                            th:classappend="${currentPage == i - 1 ? 'active' : ''}"
                            class="page-item">
                            <a th:href="@{'/products/' + ${i - 1}}"
                               class="page-link" href="#"><span
                                    th:text="${i}"></span></a>
                        </li>
                        <li th:if="${currentPage + 1 != totalPages}"
                            class="page-item">
                            <a th:href="@{'/products/' + ${currentPage + 1}}"
                               class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <footer th:replace="~{fragments::footer}"></footer>
    </div>
</div>
<div th:replace="~{fragments::scroll}"></div>
<div th:replace="~{fragments::script}"></div>
<script th:src="@{/js/categories.js}"></script>
</body>
</html>