<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments::header}">
    <title>Update category</title>
</head>
<body id="page-top">
<div id="wrapper">
    <ul th:replace="~{fragments::sidebar}"></ul>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <nav th:replace="~{fragments::topbar}"></nav>
            <div class="container-fluid">
                <div th:if="${success}" class="text-center alert alert-success">
                    <p th:text="${success}"></p>
                </div>
                <div th:if="${fail}" class="text-center alert alert-danger">
                    <p th:text="${fail}"></p>
                </div>
                <form class="form-horizontal"
                      th:action="@{/update-category/{id} (id = ${category.id})}"
                      method="post" th:object="${category}">
                    <fieldset>
                        <legend>UPDATE CATEGORY</legend>
                        <div class="form-group">
                            <label class="col-md-4 control-label"
                                   for="category_name">Name: </label>
                            <div class="col-md-4">
                                <input id="category_name" th:field="*{name}"
                                       name="category_name"
                                       class="form-control input-md"
                                       type="text">
                            </div>
                        </div>
                    </fieldset>
                    <button type="button" class="btn btn-secondary"
                            onclick="window.location.href='/admin/categories'">
                        Return to categories
                    </button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
        <footer th:replace="~{fragments::footer}"></footer>
    </div>
</div>
<div th:replace="~{fragments::scroll}"></div>
<div th:replace="~{fragments::script}"></div>
</body>
</html>