<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments::head}">
    <title>Account Details</title>
</head>
<body>
<div th:replace="~{fragments::main-top}"></div>
<div th:replace="~{fragments::main-header}"></div>
<div th:replace="~{fragments::top-search}"></div>
<div class="mainDiv">
    <div class="cardStyle">
        <div class="text alert alert-warning" th:if="${error}">
            <p th:text="${error}"></p>
        </div>
        <div th:if="${passwordError}" class="text-center alert-warning">
            <p th:text="${passwordError}"></p>
        </div>
        <div class="text alert alert-success" th:if="${success}">
            <p th:text="${success}"></p>
        </div>
        <form th:action="@{/update-password}" method="post" th:object="${customerDto}">
            <h2 class="formTitle">
                <i>Password change</i>
            </h2>
            <div class="inputDiv">
                <label class="inputLabel" for="firstName">First Name *</label>
                <input type="text" id="firstName" th:field="*{firstName}" readonly>
            </div>
            <div class="inputDiv">
                <label class="inputLabel" for="lastName">Last Name *</label>
                <input type="text" id="lastName" th:field="*{lastName}" readonly>
            </div>
            <div class="inputDiv">
                <label class="inputLabel" for="username">Username *</label>
                <input type="text" id="username" th:field="*{username}" readonly>
            </div>
            <div class="inputDiv">
                <label class="inputLabel" for="password">Password *</label>
                <input type="password" id="password" th:field="*{password}" >
            </div>
            <div class="alert alert-danger" th:if="${#fields.hasErrors('password')}"
                 th:errors = "*{password}"></div>
            <div class="inputDiv">
                <label class="inputLabel" for="password">Repeat password *</label>
                <input type="password" id="repeatPassword" th:field="*{repeatPassword}" >
            </div>
            <div class="alert alert-danger" th:if="${#fields.hasErrors('repeatPassword')}"
                 th:errors = "*{repeatPassword}"></div>
            <div class="buttonWrapper">
                <button type="submit" id="submitButton" class="submitButton pure-button pure-button-primary">
                    <span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
<div th:replace="~{fragments::script}"></div>
</body>
</html>